# Predict A Doctor's Consultation Fee Hackathon

In [1]:
#https://www.machinehack.com/course/predict-a-doctors-consultation-fees-hackathon/

# Data processing

In [2]:
import numpy as np
import pandas as pd
import re
import seaborn as sns
import matplotlib.pyplot as plt

sns.set_style('whitegrid')

from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

from nltk.corpus import stopwords

%matplotlib inline

import warnings
def ignore_warn(*args, **kwargs):
    pass
warnings.warn = ignore_warn #ignore annoying warning (from sklearn and seaborn)

In [3]:
#read csv to df
df = pd.read_csv('.\dataset\Final_Train.csv')

In [4]:
#5961 rows and 7 columns
df.shape

(5961, 7)

In [5]:
# get a feel of the df
#'Rating' are already extracted from Miscellaneous_Info
#'Fees' are our target variable
# Experience seems to be a very good predictor , plus we have no null values

df.sample(10)

,Qualification,Experience,Rating,Place,Profile,Miscellaneous_Info,Fees
4762,"MBBS, MS - ENT",26 years experience,NaN,"Jubilee Hills, Hyderabad",ENT Specialist,NaN,500
3807,"BDS, MDS - Paedodontics And Preventive Dentistry",10 years experience,NaN,"Nizamuddin East, Delhi",Dentist,Sedation Dentistry Teeth Whitening Sports Dent...,500
4449,MBBS,39 years experience,NaN,"Nanganallur, Chennai",General Medicine,NaN,350
2543,"MBBS, Diploma in Otorhinolaryngology (DLO)",15 years experience,82%,"Siddapura, Bangalore",ENT Specialist,NaN,350
2366,"MBBS, DNB - ENT",10 years experience,NaN,"Old Rajendra Nagar, Delhi",ENT Specialist,NaN,100
3755,"MBBS, MS - Otorhinolaryngology",9 years experience,NaN,"Dwarka, Delhi",ENT Specialist,NaN,550
4654,"BDS, MDS - Orthodontics",12 years experience,99%,"Kingsway Camp, Delhi",Dentist,Tooth Extraction Dental Fillings Scaling / Pol...,100
2659,"FRCS - General Surgery, MBBS",38 years experience,NaN,"Saibaba Colony, Coimbatore",General Medicine,NaN,300
1208,"BDS, MDS - Oral & Maxillofacial Surgery, MRCPs...",14 years experience,99%,"Kilpauk, Chennai",Dentist,Oral & Maxillofacial Surgery Cosmetology Smile...,300
2161,"MBBS, MD - General Medicine",27 years experience,73%,"Old Airport Road, Bangalore",General Medicine,"73% 13 Feedback Old Airport Road, Bangalore",650

In [6]:
#'Fees' and 'Experience' should be numerical
# the rest should be categorical ( dummified later )
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5961 entries, 0 to 5960
Data columns (total 7 columns):
Qualification         5961 non-null object
Experience            5961 non-null object
Rating                2659 non-null object
Place                 5936 non-null object
Profile               5961 non-null object
Miscellaneous_Info    3341 non-null object
Fees                  5961 non-null int64
dtypes: int64(1), object(6)
memory usage: 326.1+ KB

In [7]:
#check % data that is null
#Rating and Miscellaneous_Info has close to half values that are null
total=pd.DataFrame({'is_null':df.isnull().sum().sort_values(ascending=False)}) #determine columns with missing values
total['Percentage']= (total.is_null/len(df)).round(2)
total=total[total.is_null!=0]
total

                    is_null  Percentage
Rating                 3302        0.55
Miscellaneous_Info     2620        0.44
Place                    25        0.00

# Qualification ( re-visit )

In [8]:
df.Qualification.unique()

array(['BHMS, MD - Homeopathy', 'BAMS, MD - Ayurveda Medicine',
       'MBBS, MS - Otorhinolaryngology', ...,
       'MD - Dermatology , Venereology & Leprosy, MBBS, Fellowship In Dermatosurgery',
       'BDS, certification in smile designing',
       'MD - Homeopathy, Post Graduate Diploma in Healthcare Management(PGDHM), DHMS (Diploma in Homeopathic Medicine and Surgery)'],
      dtype=object)

In [9]:
#Erraneous data & del the rows
df[df.Qualification=='Get inspired by remarkable stories of people like you']

,Qualification,Experience,Rating,Place,Profile,Miscellaneous_Info,Fees
91,Get inspired by remarkable stories of people l...,0 years experience,NaN,NaN,Dermatologists,NaN,100
502,Get inspired by remarkable stories of people l...,0 years experience,NaN,NaN,Dermatologists,NaN,100
599,Get inspired by remarkable stories of people l...,0 years experience,NaN,NaN,Dermatologists,NaN,100
605,Get inspired by remarkable stories of people l...,0 years experience,NaN,NaN,Dermatologists,NaN,100
724,Get inspired by remarkable stories of people l...,0 years experience,NaN,NaN,Dermatologists,NaN,100
1002,Get inspired by remarkable stories of people l...,0 years experience,NaN,NaN,Dermatologists,NaN,100
1083,Get inspired by remarkable stories of people l...,0 years experience,NaN,NaN,Dermatologists,NaN,100
1210,Get inspired by remarkable stories of people l...,0 years experience,NaN,NaN,Dermatologists,NaN,100
2078,Get inspired by remarkable stories of people l...,0 years experience,NaN,NaN,Dermatologists,NaN,100
2178,Get inspired by remarkable stories of people l...,0 years experience,NaN,NaN,Dermatologists,NaN,100
2328,Get inspired by remarkable stories of people l...,0 years experience,NaN,NaN,Dermatologists,NaN,100
3099,Get inspired by remarkable stories of people l...,0 years experience,NaN,NaN,Dermatologists,NaN,100
3228,Get inspired by remarkable stories of people l...,0 years experience,NaN,NaN,Dermatologists,NaN,100
3418,Get inspired by remarkable stories of people l...,0 years experience,NaN,NaN,Dermatologists,NaN,100
3443,Get inspired by remarkable stories of people l...,0 years experience,NaN,NaN,Dermatologists,NaN,100
3744,Get inspired by remarkable stories of people l...,0 years experience,NaN,NaN,Dermatologists,NaN,100
3804,Get inspired by remarkable stories of people l...,0 years experience,NaN,NaN,Dermatologists,NaN,100
4004,Get inspired by remarkable stories of people l...,0 years experience,NaN,NaN,Dermatologists,NaN,100
4758,Get inspired by remarkable stories of people l...,0 years experience,NaN,NaN,Dermatologists,NaN,100
4847,Get inspired by remarkable stories of people l...,0 years experience,NaN,NaN,Dermatologists,NaN,100
5058,Get inspired by remarkable stories of people l...,0 years experience,NaN,NaN,Dermatologists,NaN,100
5187,Get inspired by remarkable stories of people l...,0 years experience,NaN,NaN,Dermatologists,NaN,100
5551,Get inspired by remarkable stories of people l...,0 years experience,NaN,NaN,Dermatologists,NaN,100
5723,Get inspired by remarkable stories of people l...,0 years experience,NaN,NaN,Dermatologists,NaN,100

In [10]:
#del the erraneous rows
remove=df[df.Qualification=='Get inspired by remarkable stories of people like you'].index
df=df.drop(remove,axis=0)

In [11]:
#extract years and convert to INT
df['Experience']=df['Experience'].str.extract(pat='(\d+)')
df['Experience']=df['Experience'].astype(np.int)
df.Experience[:10]

0    24
1    12
2     9
3    12
4    20
5     8
6    42
7    10
8    14
9    23
Name: Experience, dtype: int32

# Rating

In [12]:
#remove the '%'' suffix
df['Rating']=df.Rating.str.replace('%','')

In [13]:
df.Rating.unique()

array(['100', '98', nan, '99', '79', '95', '97', '94', '88', '90', '80',
       '93', '36', '78', '87', '96', '82', '89', '74', '86', '92', '83',
       '76', '85', '56', '91', '68', '60', '75', '69', '73', '67', '77',
       '33', '55', '71', '84', '45', '63', '72', '81', '62', '57', '7',
       '48', '40', '70', '64', '65', '47', '58', '53'], dtype=object)

In [14]:
#convert that can to numeric ,errors='coerce' forces non-convertible elements to NaN.
df['Rating'] = df.Rating.apply(pd.to_numeric, errors='coerce')

In [15]:
#apply median of each 'Profile', rather than apply a blanket median value
df['Rating']=df.groupby('Profile')['Rating'].transform(lambda x : x.fillna(x.median()))

In [16]:
mask=df.Rating.isnull()
temp=df[~mask]
temp['Rating']=temp.Rating.astype(np.int)

In [17]:
temp.groupby('Profile')['Rating'].median()

Profile
Ayurveda            97
Dentist             98
Dermatologists      96
ENT Specialist      93
General Medicine    95
Homeopath           99
Name: Rating, dtype: int32

In [18]:
df.isnull().sum()

Qualification            0
Experience               0
Rating                   0
Place                    1
Profile                  0
Miscellaneous_Info    2596
Fees                     0
dtype: int64

# Place

In [19]:
df[df.Place.isnull()]

,Qualification,Experience,Rating,Place,Profile,Miscellaneous_Info,Fees
4823,"MBBS, DDVL",22,96.0,NaN,Dermatologists,NaN,150

In [20]:
df[df.Profile=='Dermatologists']['Place'].value_counts()[:10]

Banjara Hills, Hyderabad    18
Andheri West, Mumbai        17
Dwarka, Delhi               14
Bandra West, Mumbai         14
HSR Layout, Bangalore       13
Indiranagar, Bangalore      13
Kandivali West, Mumbai      11
Jubilee Hills, Hyderabad    11
Pitampura, Delhi            11
Vileparle West, Mumbai      10
Name: Place, dtype: int64

In [21]:
df.Place.fillna('Banjara Hills, Hyderabad',inplace=True)

# Place - Feature Engineering

In [22]:
#split 'Place'
temp=df['Place'].str.split(',',n=1,expand=True)

In [23]:
temp.head()

                   0           1
0           Kakkanad   Ernakulam
1         Whitefield   Bangalore
2    Mathikere - BEL   Bangalore
3  Bannerghatta Road   Bangalore
4       Keelkattalai     Chennai

In [24]:
#there are 866 neighbourhoods
len(temp[0].unique())

866

In [25]:
#there are 10 cities
len(temp[1].unique())

10

In [26]:
#assign locality and city
df['locality']=temp[0]
df['city']=temp[1]

# Profile & Fees

In [27]:
df.Profile.isnull().sum()

0

In [28]:
df.Fees.isnull().sum()

0

# Miscellaneous_Info

In [29]:
df.Miscellaneous_Info.sample(10)

210                      96% 2 Feedback Kaloor, Ernakulam
122     Skin Allergy Treatment Skin Tag Treatment Dark...
5716              100% 5 Feedback Chanda Nagar, Hyderabad
1149                  81% 48 Feedback Bandra West, Mumbai
968                   77% 8 Feedback Manikonda, Hyderabad
1726    Presurgical Orthodontics Cosmetic/ Aesthetic D...
3774          100% 4 Feedback Ramamurthy Nagar, Bangalore
565     Allergy Treatment Viral Fever Treatment Skin T...
3309                                                  NaN
5882                                                  NaN
Name: Miscellaneous_Info, dtype: object

In [30]:
#not useful as the Rating has already been extracted to another column
df.drop(columns='Miscellaneous_Info',inplace=True)

# Qualification

In [31]:
df.Qualification

0                                   BHMS, MD - Homeopathy
1                            BAMS, MD - Ayurveda Medicine
2                          MBBS, MS - Otorhinolaryngology
3                                     BSc - Zoology, BAMS
4                                                    BAMS
5                                                    BAMS
6                                                    BHMS
7                                                     BDS
8                             MBBS, MD - General Medicine
9                                                BSc, BDS
10                                    MBBS, MS, DNB - ENT
11                                                   BAMS
12                                               BDS, MDS
13                BDS, MDS - Oral & Maxillofacial Surgery
14      MBBS, Diploma in Otorhinolaryngology (DLO), DN...
15                            MBBS, MD - General Medicine
16             MBBS, Diploma in Otorhinolaryngology (DLO)
17                                   MBBS, MF- Homeopathy
18                                         MBBS, MS - ENT
19                                                   MBBS
20                                          MDS, DNB, BDS
21                                        MBBS, DNB - ENT
22                                                   MBBS
23      MBBS, Fellowship of College of General Practic...
24                                             MBBS, DDVL
25                                                    BDS
26                                      MBBS, IBCLC (USA)
27      MBBS, MD - General Medicine, Post Graduate Dip...
28                                               BDS, MDS
29                           Diploma in Dermatology, MBBS
                              ...
5931    MBBS, MRCP (UK), Post Graduate Diploma in Diab...
5932                                                  BDS
5933                                BHMS, MD - Homeopathy
5934                                                 BHMS
5935      MDS - Periodontology and Oral Implantology, BDS
5936    MD - Homeopathy, LCEH, Diploma in Preventive &...
5937                                            BHMS, MSc
5938                                                 MBBS
5939                                BHMS, MD - Pediatrics
5940                               MBBS, MD - Dermatology
5941                                                 BHMS
5942                          MBBS, MD - General Medicine
5943                                                  BDS
5944                                             MS - ENT
5945    BDS, FDS Endodontics, Certified in Advanced Or...
5946                                                  BDS
5947                                                 BHMS
5948                                                 BAMS
5949                                                 BHMS
5950    MD - Dermatology , Venereology & Leprosy, MBBS...
5951                BDS, certification in smile designing
5952                                                 MBBS
5953    MD - Homeopathy, Post Graduate Diploma in Heal...
5954                                                 BHMS
5955                                      MD - Homeopathy
5956                                       MBBS, MS - ENT
5957                                                 MBBS
5958                                                 MBBS
5959                          MBBS, MD - General Medicine
5960                              BDS, MDS - Orthodontics
Name: Qualification, Length: 5937, dtype: object

In [32]:
stopWords = set(stopwords.words('english'))

REPLACE_BY_SPACE_RE = re.compile('[/(){}\[\]\|@,;]')
BAD_SYMBOLS_RE = re.compile('[^0-9a-z #+_]')
STOPWORDS = set(stopwords.words('english'))

def clean_text(text):
    """
        text: a string
        
        return: modified initial string
    """
    text = text.lower() # lowercase text
    text = REPLACE_BY_SPACE_RE.sub(' ', text) # replace REPLACE_BY_SPACE_RE symbols by space in text
    text = BAD_SYMBOLS_RE.sub('', text) # delete symbols which are in BAD_SYMBOLS_RE from text
    text = ' '.join(word for word in text.split() if word not in STOPWORDS) # delete stopwors from text
    return text

In [33]:
#retain words that is between 2 to 4 chars and remove redundancy
def two_four_chars(text):
    clean=[]
    for word in text.split():
        if len(word) in (2,3,4):
            clean.append(word)
        else: pass
    return list(dict.fromkeys(clean)) #remove redundancy

In [34]:
df['Qualification'] = df['Qualification'].apply(two_four_chars)

In [71]:
#join the words for countvectorising
df['Qualification'] = df['Qualification'].apply(lambda x : ' '.join(x))

In [126]:
#min_df is used to limit total columns of 46 vs more than 240 if the whole corpus is included
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(min_df=10)
count_vect=cv.fit_transform(df['Qualification']).A

In [127]:
count_vect

array([[0, 0, 1, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 0, 0]], dtype=int64)

In [128]:
print(f'There are {len(cv.get_feature_names())} unique words in this corpus')

There are 46 unique words in this corpus

In [129]:
nlp=pd.DataFrame(cv.fit_transform(df['Qualification']).A,columns=cv.get_feature_names())
#top 46 words in Qualifications column
nlp.sum(axis=0).sort_values(ascending=False)

mbbs    2805
md      1550
bds     1362
bams     762
mds      750
bhms     748
ms       627
ent      483
dnb      407
dlo      266
oral     252
ddvl     161
post     146
ddv      129
uk        58
pgdd      56
phd       53
skin      51
dhms      50
dvd       46
vd        43
pg        42
msc       36
dm        34
yoga      31
fcps      30
fage      29
mrcp      27
mch       26
cgo       25
mba       22
usa       21
dch       20
cch       19
bsc       18
dgo       17
frcs      17
lceh      16
head      15
neck      15
mrcs      15
frcp      14
care      13
fcgp      13
hair      11
icoi      10
dtype: int64

In [138]:
nlp.shape

(5937, 46)

In [132]:
df.shape

(5937, 8)

In [141]:
#save to new dataframe & csv
df2=pd.concat([df, nlp], axis=1, join_axes=[df.index]).reset_index()
df2.to_csv('.\dataset\Clean_Final_Train.csv',index=False)

In [ ]:
#Median doctor's experience is 14 years
df.Experience.describe().round(0)

In [ ]:
sns.boxplot(x=df['Experience'],data=df);
plt.title('Boxplot of doctor\'s experience');

In [ ]:
df['city']=new[1]

In [ ]:
df.city.unique()

In [ ]:
#fillna as 'Banjara Hills, Hyderabad' because this is the median Place for 'Dermatologists' 
df.fillna='Banjara Hills, Hyderabad'

In [ ]:
#definitely a good categorical predictor as different service has different price range
df.Profile.unique()

In [ ]:
df.columns

In [ ]:
#Cheapest fees are Ayurveda,Dentist
#Most expensive are ENT Specialist, General Medicine and Dermatolgists
#Most expensive minium fees is Dermatologists

In [ ]:
df.Miscellaneous_Info

In [ ]:
#not useful as the Rating has already been extracted to another column
df.drop(columns='Miscellaneous_Info',inplace=True)

In [ ]:
#There is variance , good categorical variable
plt.figure(figsize=(10, 5))
sns.boxplot(x=df.Profile , y=df.Fees)
plt.title('Fees range for different services');

In [ ]:
df.sample(10)