In [1]:
import pandas as pd

In [2]:
df= pd.read_csv('data/address_mrt_school_cbd_mall.csv')

C:\Users\andre\AppData\Local\Continuum\anaconda3\envs\streamprophet37\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,...,address,latitude,longitude,mrt,nearest_mrt_distance,mrt_less_than_half_km,mrt_less_than_one_km,mall,nearest_mall_distance,mall_less_than_one_km
0,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,improved,1977,9000.0,...,309 ang mo kio ave 1,1.366045,103.83697,bright hill mrt,0.546874,0,2,Jubilee Square,1.130965,0
1,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,04 TO 06,31.0,improved,1977,6000.0,...,309 ang mo kio ave 1,1.366045,103.83697,bright hill mrt,0.546874,0,2,Jubilee Square,1.130965,0
2,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,improved,1977,8000.0,...,309 ang mo kio ave 1,1.366045,103.83697,bright hill mrt,0.546874,0,2,Jubilee Square,1.130965,0
3,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,07 TO 09,31.0,improved,1977,6000.0,...,309 ang mo kio ave 1,1.366045,103.83697,bright hill mrt,0.546874,0,2,Jubilee Square,1.130965,0
4,1990-02,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,04 TO 06,31.0,improved,1977,8000.0,...,309 ang mo kio ave 1,1.366045,103.83697,bright hill mrt,0.546874,0,2,Jubilee Square,1.130965,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 810795 entries, 0 to 810794
Data columns (total 24 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   month                  810795 non-null  object
 1   town                   810795 non-null  object
 2   flat_type              810795 non-null  object
 3   block                  810795 non-null  object
 4   street_name            810795 non-null  object
 5   storey_range           810795 non-null  object
 6   floor_area_sqm         810795 non-null  float64
 7   flat_model             810795 non-null  object
 8   lease_commence_date    810795 non-null  int64
 9   resale_price           810795 non-null  float64
 10  date                   810795 non-null  object
 11  year_sold              810795 non-null  int64
 12  month_sold             810795 non-null  int64
 13  remaining_lease        810795 non-null  int64
 14  address                810795 non-null  object
 15  latitude               810795 non-null  float64
 16  longitude              810795 non-null  float64
 17  mrt                    810795 non-null  object
 18  nearest_mrt_distance   810795 non-null  float64
 19  mrt_less_than_half_km  810795 non-null  int64
 20  mrt_less_than_one_km   810795 non-null  int64
 21  mall                   810795 non-null  object
 22  nearest_mall_distance  810795 non-null  float64
 23  mall_less_than_one_km  810795 non-null  int64
dtypes: float64(6), int64(7), object(11)
memory usage: 148.5+ MB